.input-group {
position: relative;
}

.input {
width: 50rem;
height: 30rem;
border: solid 1.5px #37414F;
border-radius: 1rem;
background: none;
padding: 1rem;
font-size: 1rem;
color: #37414F;
transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}

.user-label {
position: absolute;
left: 15px;
color: #37414F;
pointer-events: none;
transform: translateY(1rem);
transition: 150ms cubic-bezier(0.4,0,0.2,1);
}

.input:focus, input:valid {
outline: none;
border: 1.5px solid #1a73e8;
}

.input:focus ~ label, input:valid ~ label {
transform: translateY(-140%) scale(0.9);
padding: 0 .2em;
color: #2196f3;
}
